<div class="post-fulled-scroll">
  <app-immi-header></app-immi-header>
  <div data-flex="dir:left" class="post-layout-container">
    <div data-flex-box="1" class="bg-white padded-10 shadowed">
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
      <h3>dsakjdakldalkjd</h3>
    </div>
    <div class="post-layout-side-bar">
      <div class="bg-white padded-10 shadowed">
        常见问题
      </div>
    </div>
  </div>

</div>
