.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3000;
  background-color: rgba(0, 0, 0, .3);
}

.modal-body {
  max-width: 400px;
  //width: 500px;
  background-color: white;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  position: relative;
  left: 50%;
  top: 50%;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .14), 0 1px 4px rgba(0, 0, 0, .17);

}
.modal-close {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
}
