<div #container class="post-fulled-scroll" appKeepScrollPosition>
  <div data-flex="dir:left" class="post-layout-container">
    <div data-flex-box="1" class="relative bg-white padded-10 shadowed">
        <div data-flex="dir:left" class="post-toolbar">
          <div data-flex-box="1" class="pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list">
              <li (click)="handleSetTabIndex(0)" [class.pure-menu-active]="currentTabIndex === 0" class="pure-menu-item"><a href="javascript:void(0);" class="pure-menu-link">最新</a></li>
              <li (click)="handleSetTabIndex(1)" [class.pure-menu-active]="currentTabIndex === 1" class="pure-menu-item"><a href="javascript:void(0);" class="pure-menu-link">推荐</a></li>
              <li (click)="handleSetTabIndex(2)" [class.pure-menu-active]="currentTabIndex === 2" class="pure-menu-item"><a href="javascript:void(0);" class="pure-menu-link">热门</a></li>
            </ul>
          </div>
          <button routerLink="../make/1" class="pure-button pure-button-primary">发表新帖</button>
        </div>
        <app-immi-post-item *ngFor="let post of posts"
                            [id]="post.id"
                            [title]="post.title"
                            [avatar]="post.avatar"
                            [nickname]="post.nickname"
                            [last_reply_nickname]="post.last_reply_nickname"
                            [reply_count]="post.reply_count"
                            [updated_at]="post.updated_at">
        </app-immi-post-item>
        <div style="min-height: 80px; text-align: center">
          <!--      加载中...-->
          <app-immi-loading-bar [visible]="loadStatus.isLoading">
            <ng-container *ngIf="page !== 1; else tplLoadingIfFirst">
              <ng-container *ngTemplateOutlet="tplLoadingIfNonFirst"></ng-container>
            </ng-container>
          </app-immi-loading-bar>
          <p style="text-align: center" *ngIf="loadStatus.isError">
            <span>加载失败</span>&nbsp;
            <button (click)="$loadStream.next()" class="pure-button pure-button-primary">点击重试</button>
          </p>
          <p style="text-align: center" *ngIf="loadStatus.isNoMore">暂无更多</p>

        </div>
    </div>
    <div class="post-layout-side-bar">
      <div style="height: 180px; text-align: center" class="bg-white padded-10 shadowed">
        <h3>欢迎来到FREE_IMMI</h3>
        <p>欲体验完整功能, 请</p>
        <button routerLink="/profile" class="pure-button pure-button-primary">立即登录/注册</button>
      </div>
    </div>
  </div>
  <app-immi-back-top [scrollContainer]="container"></app-immi-back-top>
</div>

<ng-template #tplLoadingIfNonFirst>
  <div style="height: 80px; display: flex; justify-content: center; align-items: center;">
    <img style="height: 26px;width: 26px; vertical-align: middle;" src="assets/loading.svg" alt="">
    <span style="vertical-align: middle; margin-left: 20px; font-size: 14px">加载中...</span>
  </div>
</ng-template>
<ng-template #tplLoadingIfFirst>
  <app-post-list-skeleton></app-post-list-skeleton>
  <app-post-list-skeleton></app-post-list-skeleton>
  <app-post-list-skeleton></app-post-list-skeleton>
</ng-template>
