<div class="immi-cropper-wrap">
  <img #imageElement [src]="imageUrl" alt="">
</div>
<div style="margin-top: 10px" data-flex="dir:left main:justify">
  <button (click)="handleCropper()">剪切</button>
  <button (click)="handleZoom(0.1)">放大</button>
  <button (click)="handleZoom(-0.1)">缩小</button>
  <button (click)="handleMove(0, -10)">上移</button>
  <button (click)="handleMove(0, 10)">下移</button>
  <button (click)="handleMove(-10, 0)">左移</button>
  <button (click)="handleMove(10, 0)">右移</button>
  <button (click)="handleReset()">还原</button>
</div>
