<div class="post-item">
  <a href="javascript:void(0)">
    <img appImgLazyLoad class="post-item-avatar" [src]="avatar" alt="">
  </a>
  <div class="post-item-content">
    <a [routerLink]="['../view/' + id]" href="javascript:void(0)" class="post-item-title">
      {{title}}
    </a>
    <div class="post-item-concise">
      <span>
        <a href="" class="link-keyword">{{nickname}}</a>&nbsp;·&nbsp;{{ updated_at | timeAgo}}&nbsp;·&nbsp;最后回复来自:&nbsp;
        <a href="" class="link-keyword">{{last_reply_nickname}}</a>
      </span>
      <span class="reply-count">{{reply_count}}</span>
    </div>
  </div>
</div>
