<div class="post-comment-item">
  <div data-flex="dir:left cross:bottom">
    <a href="javascript:void(0);"><img class="post-comment-item-avatar"
                                       src="https://pic2.zhimg.com/v2-b81fec6a75e9f149e858ace0ffa56729_s.jpg"
                                       alt=""></a>
    <div data-flex="dir:left cross:bottom" data-flex-box="1" class="post-comment-item-nickname">
      <a data-flex-box="1" href="javascript:void(0);" style="color: #1a1a1a">中医康复理疗</a>
      <span style="font-size: 14px">2小时前</span>
    </div>
  </div>
  <div class="post-comment-item-content">
    户外品牌大火，肯定是现代人注重身体健康，吃的好了运动少了，疾病就多了。多运动肯定比不运动的要好[大笑]
    户外品牌大火，肯定是现代人注重身体健康，吃的好了运动少了，疾病就多了。多运动肯定比不运动的要好[大笑]
    户外品牌大火，肯定是现代人注重身体健康，吃的好了运动少了，疾病就多了。多运动肯定比不运动的要好[大笑]
    户外品牌大火，肯定是现代人注重身体健康，吃的好了运动少了，疾病就多了。多运动肯定比不运动的要好[大笑]
    户外品牌大火，肯定是现代人注重身体健康，吃的好了运动少了，疾病就多了。多运动肯定比不运动的要好[大笑]
    户外品牌大火，肯定是现代人注重身体健康，吃的好了运动少了，疾病就多了。多运动肯定比不运动的要好[大笑]
    户外品牌大火，肯定是现代人注重身体健康，吃的好了运动少了，疾病就多了。多运动肯定比不运动的要好[大笑]
  </div>
  <div class="post-comment-item-toolbar">
    <a href="javascript:void(0);">赞同(43)</a>
    <span class="post-comment-item-hover-to-show">
      &nbsp;<a href="javascript:void(0);">[回复]</a>
      &nbsp;<a href="javascript:void(0);">[踩]</a>
      &nbsp;<a href="javascript:void(0);">[举报]</a>
    </span>
    <div>
      <a href="javascript:void(0);">查看全部 9 条回复 &gt;</a>
    </div>
  </div>
</div>
