<div style="position: relative; padding-top: 10px">
  <div [@openClose]="showImageTool ? 'open' : 'closed'" (click)="handleMaskClick($event)" class="rich-editor-mask">
    <div class="rich-editor-image-load">
      <div class="pure-form">
        <h3>从本地上传</h3>
        <input (change)="handleImageChange($event)" accept="image/*" type="file">
      </div>
      <div class="pure-form">
        <h3>从URL上传</h3>
        <div data-flex="dir:left">
          <input data-flex-box="1" placeholder="请输入图片地址" type="text">
          <button style="margin-left: 10px" class="pure-button pure-button-primary">上传</button>
        </div>
      </div>
    </div>
  </div>
  <div class="rich-container rich-toolbar" [style.top]="stickyTop" #toolbar>
    <select class="ql-font" title="字体">
      <option selected>系统默认</option>
      <option value="Microsoft YaHei">微软雅黑</option>
      <option value="Kai">楷体</option>
      <option value="Hei">黑体</option>
      <option value="Arial">Arial</option>
    </select>
    <select class="ql-size" title="字体大小">
      <option value="10px">10px</option>
      <option value="12px">12px</option>
      <option value="14px">14px</option>
      <option value="16px" selected>16px</option>
      <option value="18px">18px</option>
      <option value="20px">20px</option>
    </select>
    <button title="加粗" class="ql-bold"></button>
    <button title="斜体" class="ql-italic"></button>
    <button title="下划线" class="ql-underline"></button>
    <button title="删除线" class="ql-strike"></button>
    <button title="引用" class="ql-blockquote"></button>
    <button title="代码块" class="ql-code-block"></button>
    <select title="字体颜色" class="ql-color"></select>
    <select title="背景颜色" class="ql-background"></select>
    <button title="有序列表" class="ql-list" value="ordered"></button>
    <button title="无序列表" class="ql-list" value="bullet"></button>
    <button title="增加缩进" class="ql-indent" value="-1"></button>
    <button title="减少缩进" class="ql-indent" value="+1"></button>
    <button title="书写方向" class="ql-direction" value="rtl"></button>
    <select title="对齐方式" class="ql-align"></select>
    <button class="ql-script" value="sub"></button>
    <button class="ql-script" value="super"></button>
    <button title="超链接" class="ql-link"></button>
    <button title="添加图片" class="ql-image"></button>
    <button title="添加视频" class="ql-video"></button>
    <button title="添加表情" class="ql-emoji"></button>
  </div>
  <div class="rich-container" #container></div>

</div>
