.post-layout-container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 10px 0;
  box-sizing: border-box;
  img {
    max-width: 100%;
  }
}

.post-fulled-scroll {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  //scroll-behavior: smooth;
}
.post-layout-side-bar {
  width: 300px;
  margin-left: 10px;
  @media all and (max-width: 1024px) {
    display: none;
  }
}

// post-router-outlet routered page class
router-outlet[data-post-router] + * {
  width: 100%;
  flex: 1;
  height: 0;
  background-color: #F6F6F6;
  overflow-y: hidden;
}
