<header class="immi-header">
  <div data-flex="dir:left main:justify cross:center" class="post-layout-container immi-header-container">
    <a routerLink="/">
      <img class="immi-header-logo" src="assets/logo.png" alt="">
    </a>
    <form data-flex="dir:left" data-flex-box="1" style="margin-left: 10px;" class="pure-form">
      <div class="immi-header-input-wrap" data-flex-box="1">
        <input (click)="autocompleteIsHide = !autocompleteIsHide" class="immi-header-input" type="text"
               placeholder="请输入搜索内容"/>
        <div [hidden]="autocompleteIsHide" exclude=".immi-header-input" (clickOutside)="handleClickOutside()"
             class="immi-header-autocomplete">
          <h3>autocomplete</h3>
        </div>
      </div>
      <button style="margin: 0 0 0 10px;" type="submit" class="pure-button pure-button-primary">搜索</button>
    </form>
  </div>
</header>
