<header class="immi-header">
  <div data-flex="dir:left main:justify cross:center" class="app-layout-container immi-header-container">
    <a routerLink="/">
      <img class="immi-header-logo" src="assets/logo.png" alt="">
    </a>
    <form data-flex="dir:left" style="margin-left: 20px" data-flex-box="1" class="pure-form">
      <div data-flex="dir:left" data-flex-box="1" class="relative">
        <input data-flex-box="1" (click)="autocompleteIsHide = !autocompleteIsHide" class="immi-header-input"
               type="text"
               placeholder="请输入搜索内容"/>
        <div [hidden]="autocompleteIsHide" exclude=".immi-header-input" (clickOutside)="handleClickOutside()"
             class="drop-popup" style="height: 300px">
          <h3>autocomplete</h3>
        </div>
      </div>
      <button style="margin-left: 20px;" type="submit" class="pure-button pure-button-primary">搜索</button>
    </form>
    <div *ngIf="profileService.logged;else tplUnLogged" style="margin-left: 20px" class="relative">
      <img (click)="profilePopIsHide = !profilePopIsHide" class="immi-header-profile-avatar"
           [src]="profileService.selfProfile?.avatar" alt="">
      <ul [hidden]="profilePopIsHide" exclude=".immi-header-profile-avatar" (clickOutside)="handleProfileClickOutside()"
          class="drop-popup immi-header-profile-dropdown">
        <li>我的私信</li>
        <li routerLink="/profile/account">个人中心</li>
        <li (click)="handleLogout()">退出登录</li>
      </ul>
    </div>
  </div>
</header>
<ng-template #tplUnLogged>
  <button routerLink="/profile/auth" style="margin-left: 20px" class="pure-button">登录/注册</button>
</ng-template>
