<header class="immi-header">
  <div data-flex="dir:left main:justify cross:center" class="post-layout-container immi-header-container">
    <a routerLink="/">
      <img class="immi-header-logo" src="assets/logo.png" alt="">
    </a>
    <form action="/" data-flex="dir:left" data-flex-box="1" style="margin-left: 10px;" class="pure-form">
      <input data-flex-box="1" type="text" placeholder="请输入搜索内容"/>
      <button style="margin: 0 0 0 10px;" type="submit" class="pure-button pure-button-primary">搜索</button>
    </form>
  </div>
</header>
