<div #container class="post-fulled-scroll">
  <div data-flex="dir:left" class="post-layout-container">
    <div data-flex-box="1">
      <div class="bg-white padded-10 shadowed">
            <div #contentContainer [innerHTML]="content | domSanitizer"></div>
      </div>
      <div style="margin-top: 10px" class="bg-white padded-10 shadowed">
        <div class="post-view">
          <h3>40 条回复 - 排序方式</h3>
          <app-rich-editor [scrollingContainer]="container" height="150px" [(ngModel)]="comment" placeholder="写下你的回复..."></app-rich-editor>
          <div style="margin-top: 10px; text-align: right">
            <div (click)="handleClick($event)" class="heart"></div>
            &nbsp;&nbsp;
            <span>😓</span>
            &nbsp;&nbsp;
            <button disabled class="button primary">提交回复</button>
          </div>
          <ul>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
            <li>接电话盛大</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="post-layout-side-bar">
      <div style="height: 180px; text-align: center" class="bg-white padded-10 shadowed">
        <h3>欢迎来到FREE_IMMI_BBS</h3>
        <p>欲体验完整功能, 请</p>
        <button routerLink="/auth/login" class="pure-button pure-button-primary">立即登陆/注册</button>
      </div>
    </div>
  </div>
  <app-immi-back-top [scrollContainer]="container"></app-immi-back-top>
</div>
