<div #container class="app-fulled-scroll">
  <app-immi-header></app-immi-header>
  <div data-flex="dir:left" class="app-layout-container">
    <div data-flex-box="1" class="bg-white padded-10 shadowed">
      <app-immi-loading-bar [visible]="status.isLoading">
          <app-post-view-skeleton></app-post-view-skeleton>
      </app-immi-loading-bar>
      <div style="text-align: center" *ngIf="status.isError">
        <span>加载失败</span>&nbsp;
        <button (click)="$getDetailStream.next()" class="pure-button pure-button-primary">点击重试</button>
      </div>
      <ng-container *ngIf="status.isLoaded">
        <div class="relative">
          <h3 title="title" class="post-view-title">{{title}}</h3>
          <div #contentContainer [innerHTML]="content | domSanitizer"></div>
          <div>
            <a href="javascript:void(0)"><img style="width: 46px; height: 46px; border-radius: 5px"
                                              src="https://pic1.zhimg.com/v2-ef9d53e94f72225bc12c19e0070ba52d_r.jpg"></a>
            ruizhixia · 4 小时 52 分钟前 via iPhone · 773 次点击
          </div>
        </div>
        <div style="margin-top: 10px" class="bg-white padded-10 shadowed">
          <div class="post-view">

            <div class="pure-form" data-flex="dir:left cross:center">
              <h3 data-flex-box="1">123条回复</h3>
              <select>
                <option selected>默认排序</option>
                <option>按时间排序</option>
              </select>
            </div>
            <app-rich-editor stickyTop="60px" [scrollingContainer]="container" [(ngModel)]="comment"
                             placeholder="写下你的回复..."></app-rich-editor>
            <div style="margin-top: 10px; text-align: right">
              <!--              <div (click)="handleClick($event)" class="heart"></div>-->
              <!--              &nbsp;&nbsp;-->
              <!--              <span>😓</span>-->
              <!--              &nbsp;&nbsp;-->
              <button class="pure-button pure-button-primary">提交回复</button>
            </div>
            <div>
              <app-immi-post-comment-item></app-immi-post-comment-item>
              <app-immi-post-comment-item></app-immi-post-comment-item>
              <app-immi-post-comment-item></app-immi-post-comment-item>
              <app-immi-post-comment-item></app-immi-post-comment-item>
              <app-immi-post-comment-item></app-immi-post-comment-item>
              <app-immi-post-comment-item></app-immi-post-comment-item>
              <app-immi-post-comment-item></app-immi-post-comment-item>
              <app-immi-post-comment-item></app-immi-post-comment-item>
              <app-immi-post-comment-item></app-immi-post-comment-item>
            </div>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="app-layout-side-bar">
      <div style="height: 180px; text-align: center" class="bg-white padded-10 shadowed">
        <h3>欢迎来到FREE_IMMI_BBS</h3>
        <p>欲体验完整功能, 请</p>
        <button routerLink="/profile" class="pure-button pure-button-primary">立即登录/注册</button>
      </div>
    </div>
  </div>
  <app-immi-back-top [scrollContainer]="container"></app-immi-back-top>
</div>
