@import '../post-page-host';
.post-view {
  padding: 10px;
  .post-view-concise {
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    border-bottom: 1px solid rgba(26, 26, 26, .1);
  }
  .post-view-content {
    padding: 15px 0;
    color: #1a1a1a;
  }
}
.heart {
  height: 100px;
  width: 100px;
  background-image: url('../../../assets/web_heart_animation_edge.png');
  background-position: left;
  display: inline-block;
}
.like-active {
  animation-timing-function: steps(28);
  animation-name: heart-burst;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes heart-burst {
  0% {
    background-position: left
  }

  100% {
    background-position: right
  }
}
