<div #container class="app-fulled-scroll">
  <app-immi-header></app-immi-header>
  <div data-flex="dir:left" class="app-layout-container">
    <div data-flex-box="1" class="bg-white padded-10 shadowed">
      <h3>板块列表</h3>
      <div data-flex="dir:left" style="flex-wrap: wrap">
        <ng-container *ngFor="let item of items">
          <ng-container *ngTemplateOutlet="tpl; context: {item: item}"></ng-container>
        </ng-container>
        <ng-container *ngFor="let item of items">
          <ng-container *ngTemplateOutlet="tpl; context: {item: item}"></ng-container>
        </ng-container>
        <ng-container *ngFor="let item of items">
          <ng-container *ngTemplateOutlet="tpl; context: {item: item}"></ng-container>
        </ng-container>
        <ng-container *ngFor="let item of items">
          <ng-container *ngTemplateOutlet="tpl; context: {item: item}"></ng-container>
        </ng-container>
        <ng-container *ngFor="let item of items">
          <ng-container *ngTemplateOutlet="tpl; context: {item: item}"></ng-container>
        </ng-container>
        <ng-container *ngFor="let item of items">
          <ng-container *ngTemplateOutlet="tpl; context: {item: item}"></ng-container>
        </ng-container>
        <ng-container *ngFor="let item of items">
          <ng-container *ngTemplateOutlet="tpl; context: {item: item}"></ng-container>
        </ng-container>
        <ng-container *ngFor="let item of items">
          <ng-container *ngTemplateOutlet="tpl; context: {item: item}"></ng-container>
        </ng-container>

      </div>
      <div style="text-align: center">
        <!--      加载中...-->
        <app-immi-loading-bar [visible]="loadStatus.isLoading">
          <ng-container *ngTemplateOutlet="tplLoading"></ng-container>
        </app-immi-loading-bar>
        <div style="text-align: center" *ngIf="loadStatus.isError">
          <span>加载失败</span>
          &nbsp;
          <button (click)="$loadStream.next()" class="pure-button pure-button-primary">点击重试</button>
        </div>
      </div>
    </div>
    <div class="app-layout-side-bar">
      <div style="height: 180px; text-align: center" class="bg-white padded-10 shadowed">
        <h3>欢迎来到FREE_IMMI_BBS</h3>
        <p>欲体验完整功能, 请</p>
        <button routerLink="/profile" class="pure-button pure-button-primary">立即登录/注册</button>
      </div>

    </div>
  </div>
  <app-immi-back-top [scrollContainer]="container"></app-immi-back-top>
</div>

<ng-template #tpl let-item="item">
  <a routerLink="1" data-flex="dir:left" class="post-plate-item">
    <div data-flex="dir:left main:center cross:center" class="post-plate-item-logo-wrap">
      <img class="post-plate-item-logo" [src]="item.logo" alt="">
    </div>
    <div style="margin-left: 10px" data-flex-box="1">
      <div class="post-plate-item-title">{{item.title}}</div>
      <div class="post-plate-item-desc">{{item.desc}}</div>
    </div>
  </a>
</ng-template>
<ng-template #tplLoading>
  <app-post-main-skeleton></app-post-main-skeleton>
  <app-post-main-skeleton></app-post-main-skeleton>
  <app-post-main-skeleton></app-post-main-skeleton>
</ng-template>
