<div #container class="post-fulled-scroll">
  <div data-flex="dir:left" class="post-layout-container">
    <div data-flex-box="1">
      <div class="bg-white padded-10 shadowed">
        <h3>板块列表</h3>
        <div data-flex="dir:left" style="flex-wrap: wrap">
          <ng-container *ngFor="let item of items">
            <ng-container *ngTemplateOutlet="tpl; context: {item: item}"></ng-container>
          </ng-container>
          <ng-container *ngFor="let item of items">
            <ng-container *ngTemplateOutlet="tpl; context: {item: item}"></ng-container>
          </ng-container>
          <ng-container *ngFor="let item of items">
            <ng-container *ngTemplateOutlet="tpl; context: {item: item}"></ng-container>
          </ng-container>
          <ng-container *ngFor="let item of items">
            <ng-container *ngTemplateOutlet="tpl; context: {item: item}"></ng-container>
          </ng-container>
          <ng-container *ngFor="let item of items">
            <ng-container *ngTemplateOutlet="tpl; context: {item: item}"></ng-container>
          </ng-container>
          <ng-container *ngFor="let item of items">
            <ng-container *ngTemplateOutlet="tpl; context: {item: item}"></ng-container>
          </ng-container>
          <ng-container *ngFor="let item of items">
            <ng-container *ngTemplateOutlet="tpl; context: {item: item}"></ng-container>
          </ng-container>
          <ng-container *ngFor="let item of items">
            <ng-container *ngTemplateOutlet="tpl; context: {item: item}"></ng-container>
          </ng-container>

        </div>
        <div style="text-align: center">
          <!--      加载中...-->
          <app-immi-loading-bar [visible]="loadStatus.isLoading">
            <ng-container *ngTemplateOutlet="tplLoading"></ng-container>
          </app-immi-loading-bar>
          <span style="text-align: center" *ngIf="loadStatus.isError">加载失败</span>
          <span style="text-align: center" *ngIf="loadStatus.isNoMore">暂无更多</span>
        </div>
      </div>
    </div>
    <div class="post-layout-side-bar">
      <div style="height: 200px" class="bg-white padded-10 shadowed">
        hahah
      </div>
      <div style="height: 200px; margin-top: 10px" class="bg-white padded-10 shadowed">
        hahah
      </div>
      <div style="height: 200px; margin-top: 10px" class="bg-white padded-10 shadowed">
        hahah
      </div>
      <div style="height: 200px; margin-top: 10px" class="bg-white padded-10 shadowed">
        hahah
      </div>

      <div style="height: 200px; margin-top: 10px" class="bg-white padded-10 shadowed">
        hahah
      </div>

      <div style="height: 200px; margin-top: 10px" class="bg-white padded-10 shadowed">
        hahah
      </div>

      <div style="height: 200px; margin-top: 10px" class="bg-white padded-10 shadowed">
        hahah
      </div>

    </div>
  </div>
  <app-immi-back-top [scrollContainer]="container"></app-immi-back-top>
</div>

<ng-template #tpl let-item="item">
  <a routerLink="1" data-flex="dir:left" class="post-plate-item">
    <div data-flex="dir:left main:center cross:center" class="post-plate-item-logo-wrap">
      <img class="post-plate-item-logo" [src]="item.logo" alt="">
    </div>
    <div style="margin-left: 10px" data-flex-box="1">
      <div class="post-plate-item-title">{{item.title}}</div>
      <div class="post-plate-item-desc">{{item.desc}}</div>
    </div>
  </a>
</ng-template>
<ng-template #tplLoading>
  <div data-flex="dir:left">
    <app-post-main-skeleton data-flex-box="1"></app-post-main-skeleton>
    <app-post-main-skeleton data-flex-box="1"></app-post-main-skeleton>
  </div>
  <div data-flex="dir:left">
    <app-post-main-skeleton data-flex-box="1"></app-post-main-skeleton>
    <app-post-main-skeleton data-flex-box="1"></app-post-main-skeleton>
  </div>
  <div data-flex="dir:left">
    <app-post-main-skeleton data-flex-box="1"></app-post-main-skeleton>
    <app-post-main-skeleton data-flex-box="1"></app-post-main-skeleton>
  </div>
  <div data-flex="dir:left">
    <app-post-main-skeleton data-flex-box="1"></app-post-main-skeleton>
    <div data-flex-box="1"></div>
  </div>
</ng-template>
