/* You can add global styles to this file, and also import other style files */
@import "~normalize.css/normalize.css";
@import "~quill/dist/quill.snow.css";
@import "./src/app/post/post-style";

* {
  outline: none;
}
html,body  {
  background-color: #F6F6F6;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.button {
  display: inline-block;
  padding: 0 16px;
  font-size: 14px;
  line-height: 32px;
  color: #8590a6;
  text-align: center;
  cursor: pointer;
  background: none;
  border: 1px solid;
  border-radius: 3px;
  &[disabled] {
    opacity: .4;
    cursor: not-allowed;
  }
  &.primary {
    color: #fff;
    background-color: #0084ff;
    &:not([disabled]) {
      &:hover {
        border-color: #0077e6;
        background-color: #0077e6;
      }
    }
  }
}
