/* You can add global styles to this file, and also import other style files */
@import "~quill/dist/quill.snow.css";
@import "~flex.css/dist/data-flex.css";
@import "./src/app/post/post-style";
//@import "./src/app/shared/directive/medium-zoom/medium-zoom";
@import '~viewerjs/dist/viewer.css';
@import '~quill-focus/src/focus.css';
@import '~quill-emoji/dist/quill-emoji.css';
@import '~ngx-toastr/toastr.css';
@import '~cropperjs/dist/cropper.css';
@import "./purecss";
@import "./help";
@import "./cover";

.app-layout-container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 10px 0;
  box-sizing: border-box;
  img {
    max-width: 100%;
  }
}

.app-fulled, .app-fulled-scroll {
  position: relative;
  height: 100%;
  width: 100%;
}
.app-fulled-scroll {
  overflow-y: auto;
  overflow-x: hidden;
  //scroll-behavior: smooth;
}
.app-layout-side-bar {
  width: 300px;
  margin-left: 10px;
  @media all and (max-width: 1024px) {
    display: none;
  }
}
img.lazy-loading {
  opacity: .3;
  transition: opacity .4s ease-in;
}
img.lazy-loaded {
  opacity: 1;
}
