.immi-header{
  width: 100%;
  line-height: 60px;
  height: 56px;
  background-color: #fff;
  position: relative;
  &::after {
    bottom: -5px;
    box-shadow: inset 0 4px 8px -3px rgba(26, 26, 26, .1);
    content: "";
    height: 5px;
    left: 0;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 2001;
  }
}
