<div data-flex="dir:left" class="post-main-skeleton-wrap">
  <div class="post-main-skeleton" data-flex="dir:left">
    <ngx-skeleton-loader
      appearance="circle"
      [theme]="{
                width: '60px',
                height: '60px'
              }"
    ></ngx-skeleton-loader>
    <div data-flex-box="1">
      <ngx-skeleton-loader [theme]="{
                'margin-top': '5px'
              }" count="1"></ngx-skeleton-loader>
      <ngx-skeleton-loader [theme]="{
                'margin-top': '5px'
              }" count="1"></ngx-skeleton-loader>
    </div>
  </div>
  <div class="post-main-skeleton" data-flex="dir:left">
    <ngx-skeleton-loader
      appearance="circle"
      [theme]="{
                width: '60px',
                height: '60px'
              }"
    ></ngx-skeleton-loader>
    <div data-flex-box="1">
      <ngx-skeleton-loader [theme]="{
                'margin-top': '5px'
              }" count="1"></ngx-skeleton-loader>
      <ngx-skeleton-loader [theme]="{
                'margin-top': '5px'
              }" count="1"></ngx-skeleton-loader>
    </div>
  </div>
</div>
