<div data-flex="dir:left" style="margin: 5px 0">
  <ngx-skeleton-loader
    appearance="circle"
    [theme]="{
                width: '60px',
                height: '60px'
              }"
  ></ngx-skeleton-loader>
  <div data-flex-box="1">
    <ngx-skeleton-loader [theme]="{
                'margin-top': '5px'
              }" count="1"></ngx-skeleton-loader>
    <ngx-skeleton-loader [theme]="{
                'margin-top': '5px'
              }" count="1"></ngx-skeleton-loader>
  </div>
</div>
